@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uinos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.MAC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.MAC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Owner.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.LastSeen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.LastSeen)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
